@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');


:root {
    --colour1:#EEEEEE;
    --colour2:#00ADB5;
    --colour3:#393E46;
    --colour4:#222831;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--colour4);
    color: var(--colour1);
}

.divs {
    padding: 5px;
    margin: 5px;
    font-weight: 300;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--colour2);
    border-radius: 1.5rem;
    box-shadow: 0 0 0 4rem var(--colour3);
    padding: 5rem;
}

.headerText {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

.headerText > h2 {
    font-size: 2rem;
    
}

.input {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 1em;
}

.fromMenu {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 2em;
}

.toMenu {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 10em;
}

.convertButtonDiv {
    grid-column-start: 3;
    grid-row-start: 2;
}

.convertBtn {
    width: 80%;
    padding: 1em;
    border: none;
    border-radius: 0.8em;
    color: var(--colour1);
    background-color: var(--colour4);
}

.input > *,
.fromMenu > *,
.toMenu > * {
    display: flex;
    text-align: center;
}

.converted {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    align-items: center;
}

#convertedPrice {
    color: var(--colour4);
    font-weight: 400;
    font-size: 1.5rem;
}