@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');


:root {
    --colour1:#EEEEEE;
    --colour2:#00ADB5;
    --colour3:#393E46;
    --colour4:#222831;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--colour4);
    color: var(--colour1);
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--colour2);
    border-radius: 1.5rem;
    box-shadow: 0 0 0 4rem var(--colour3);
    padding: 0.5rem;
}

.headerText {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

.headerText > h2 {
    font-size: 2rem;
}

.input {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-top: 2%;
}

#userPrice {
    display: block;
    margin : 0 auto;
}

.fromMenu {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0 10%;
    margin-top: 2%;
}

.toMenu {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 0 60%;
    margin-top: 2%;
}

#currencies1,
#currencies2 {
    display: block;
    width: 6rem;
}

.convertButtonDiv {
    grid-column-start: 3;
    grid-row-start: 2;
}

.convertBtn {
    width: 80%;
    padding: 1em;
    border: none;
    border-radius: 0.8em;
    color: var(--colour1);
    background-color: var(--colour4);
}

.input > *,
.convertButtonDiv {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.converted {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    align-items: center;
    text-align: center;
}

#convertedPrice {
    color: var(--colour4);
    font-weight: 400;
    font-size: 2rem;
}

@media only screen and (max-width: 1400px) {
    .main {
        grid-template-columns: repeat(3, 15rem);
        box-shadow: 0 0 0 3rem var(--colour3);
    }

    #convertedPrice {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .main {
        grid-template-columns: repeat(3, 12rem);
        box-shadow: 0 0 0 2rem var(--colour3);
    }

    #convertedPrice {
        font-size: 1.2rem;
    }

    #userPrice {
        width: 80%;
    }

    #currencies1,
    #currencies2 {
        display: block;
        width: 4rem;
    }
}

@media only screen and (max-width: 800px) {
    /* redo css for mobile */
}